<!--<h2>カテゴリー <%= @genre.name %></h2>
  <ul>
    <% @movies.each do |movie| %>
      <li>
          <%= image_tag movie.image if movie.image.attached? %>
      </li>
    <% end %>
  </ul>
</div>-->
<ul class='movie-lists'> 
<%@movies.each do |movie| %>
<li class="movie-contents"> 
  <%= link_to root_path, class:"link"  do %>
      <div class="box-movie-image">
        <%= image_tag movie.image, size: '200x210',class: "movie-img" %>
      </div>
      <div class="box-movie-title">
       <%= movie.title %>
      </div>
   <%end%>
   
  
    
</li>
<%end%>
</ul>