<div class='genre'>

  <% if @movies.present? %> 
  <%= search_form_for @q, url: movie_genre_path  do |f| %>
    <%= f.collection_select :genre_id_eq, Genre.where.not(id: 1), :id, :name, include_blank: "ジャンル検索" %>
    <%= f.submit '検索' %>
    <% end %>
  <%end%>
</div>

<ul class='movie-lists'> 
  <% if @movies.present? %> 
    <%@movies.each do |movie| %>
       <li class="movie-contents"> 
         <div class="box-movie-genre">
            <%=movie.genre.name%>
         </div>
          <%= link_to movie_path(movie.id), class:"link"  do %>
            <div class="box-movie-image">
              <%= image_tag movie.image, size: '200x210',class: "movie-img" %>
            </div>
            <div class="box-movie-title">
              <%= movie.title %>
            </div>
         <%end%>   
       </li>
    <%end%>
 </ul>
    <%else%>
     <div>
       <p class='nil'> 
          映画を見たら、記録しましょう！</p>
       <p>
       映画を記録することで、学びや楽しみは大きくなり、内容や感想を忘れづらくなります。そして記憶力の向上にも繋がります。</p>
      </div>
    <%end%>

<div class="boxbox">
</div>




<%= link_to(new_movie_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>記録する</span>
  <%= image_tag 'movie.png' , size: '185x210' ,class: "purchase-btn-icon" %>
<% end %>
