<div class="box">
  <div class="box-inner">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h1>ログイン</h1>
  <div class="box-email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="box-password">
    <%= f.label :password %>(６文字以上)<br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
 <div class="column-right">
            <%= link_to "パスワードを忘れた場合", new_user_password_path %>
          </div>
  <div class="box-sign-in">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div class="box-newusr">
      <p><span>---</span> ReMの新しいアカウントを作成しますか？ <span>---</span></p>
      <%= link_to "ReMのアカウントを作成", new_user_registration_path %>
    </div>


</div>
</div>

<%= render "devise/shared/links" %>
